<div class="container-fluid">
	<div class="row">
		<div class="sidebar">
			<ul class="nav nav-sidebar">
            	<li class="active">
            	<li><a href="/profile/events">Event</a></li>
            	<li><a href="/profile/posts">Post</a></li>
				<li><a href="/profile/votes">Vote</a></li>
            	<li><a href="/users/edit">Profile</a></li>
          	</ul>
		</div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<%= yield %>
		</div>		
	</div>
</div>