<p id="notice"><%= notice %></p>

<h1 class="sub-header">Events voted by me</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>Event title</th>
        </thead>
        <tbody>
			<% @voted_posts.group_by(&:event_id).each do |event_id, posts| %>
					<tr>
						<% @event = Event.find(event_id) %>
						<td><%= link_to @event.title, controller: "user", action: "show_voted_posts", params: {:voted_posts => posts} %> </td>
					</tr>
			    	
			<% end %>
        </tbody>
    </table>
</div>
