<p id="notice"><%= notice %></p>

<h1 class="sub-header">Posts voted by me</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
			<th>Post content</th>
			<th>Current vote</th>
        </thead>
        <tbody>
			<% @posts.each do |post| %>
					<tr>
						<td><%= link_to "#{post.text_content}", post%></td>
						<td><%= post.vote_count%></td>
						
					</tr>
			<% end %>
        </tbody>
    </table>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="sidebar">
			<ul class="nav nav-sidebar">
            	<li class="active"><a href="/">My profile</a></li>
            	<li><a href="/profile/events">Event</a></li>
            	<li><a href="/profile/posts">Post</a></li>
				<li><a href="/profile/votes">Vote</a></li>
            	<li><a href="/users/edit">Edit</a></li>
          	</ul>
		</div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<%= yield %>
		</div>	
	</div>
</div>

<button onclick="window.history.back()">Back</button>
